@import url(https://fonts.googleapis.com/css?family=Audiowide);

body {
  background-color: #000000;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.grid :hover {
  background-color: gray;

  cursor: pointer;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 35px;
  color: #000000;
}
/* #container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
} */

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000000 url("./preloader.gif") no-repeat center;
  z-index: 99999;
  display: flex;
  flex-direction: row;
  padding-left: 58ch;
  padding-top: 50ch;
}

.loading__letter {
  font-size: 35px;
  font-weight: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lavender;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-40px);
  }
  80%,
  100% {
    transform: translateY(0px);
  }
}
.loading__letter:nth-child(2) {
  animation-delay: 0.1s;
}
.loading__letter:nth-child(3) {
  animation-delay: 0.2s;
}
.loading__letter:nth-child(4) {
  animation-delay: 0.3s;
}
.loading__letter:nth-child(5) {
  animation-delay: 0.4s;
}
.loading__letter:nth-child(6) {
  animation-delay: 0.5s;
}
.loading__letter:nth-child(7) {
  animation-delay: 0.6s;
}
.loading__letter:nth-child(8) {
  animation-delay: 0.8s;
}
.loading__letter:nth-child(9) {
  animation-delay: 1s;
}
.loading__letter:nth-child(10) {
  animation-delay: 1.2s;
}
